services:
  # Backend Service
  - type: web
    name: datapulse-backend
    plan: free
    runtime: python
    region: oregon
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: PORT
        value: 10000
      - key: GROQ_API_KEY
        value: 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

